// High-level base settings.
$base-font-size: 62.5% !default;
$base-font-family: Helvetica, Arial, sans-serif !default;
$base-font-size-px: 13px !default;
$base-line-height: 1.2 !default;
$base-text-color: #676a6c !default;
$base-link-color: #1ab394 !default;
$base-background-color: #f3f3f4 !default;
